@model UniManage.Models.Message

<h2>Send Message</h2>

<form asp-action="Send" method="post">

    <div class="mb-3">
        <label>Select Receiver</label>
        <select asp-for="ReceiverId" class="form-control">
            <option value="">-- Select User --</option>
            @foreach (var user in ViewBag.Users)
            {
                <option value="@user.UserId">@user.FullName (@user.Role)</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label>Subject</label>
        <input asp-for="Subject" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Message</label>
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>
